<html>
<head>
    <title>Get Your Offer</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="heading" style="background-color:aliceblue">
    <h1 style="text-align: center">Get exciting offers</h1>
    </div>
    <h2>Enter the items and its cost</h2>
<form action="/offer_cal" method="POST" class="in">
    <input type="text" name="item1" id="item1">Item1</input>
    <input type="number" name="cost1" id="cost1">Cost1</input>
    <br></br>
    <input type="text" name="item2" id="item2">Item2</input>
    <input type="number" name="cost2" id="cost2">Cost2</input>
    <br></br>
    <input type="text" name="item3" id="item3">Item3</input>
    <input type="number" name="cost3" id="cost3">Cost3</input>
    <br></br>
    <input type="text" name="item4" id="item4">Item4</input>
    <input type="number" name="cost4" id="cost4">Cost4</input>
    <br></br>
    <input type="text" name="item5" id="item5">Item5</input>
    <input type="number" name="cost5" id="cost5">Cost5</input>
    <input type="submit" value="Calculate">
</form

</body>



</html>