h1{
    color:brown;
}

.in{
    align-items: center;
}

.heading{
    background-color: aliceblue;
}

body{
    background-color:rosybrown;
}

form{
    text-decoration-color: bisque;
}